:root {
  --red: #e83656ff;
  --titles: #4d4d4dff;
  --turquoise: #62cfd3ff;
  --gainsboro: #dbd9d9ff;
  --khaki: #c8be68ff;
  --goldenrod: #daa520;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url('../images/backgroundImg.jpg');
  background-size: 100%;
  background-position: center;
}
body {
  /* font-family: 'Inter', sans-serif;
  font-family: 'Kaushan Script', cursive; */
  font-family: 'Roboto Slab', serif;
}

header {
  background-color: #151111a3;
}

#about-me-container {
  width: 90%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 3em;
}

#container {
  height: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

#fur-family {
  padding: 3em;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid var(--gainsboro);
  border-radius: 20px;
  gap: 2em;
}

#hobbies {
  padding: 3em;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid var(--gainsboro);
  border-radius: 20px;
  gap: 2em;
}

.fur-family-description {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fur-family-image-container {
  grid-column: span 6;
  grid-row: span 2;
  height: 500px;
  /* background-color: lightpink; */
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fur-family-thumbnails {
  grid-column: span 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fur-family-thumbnails li {
  width: 15%;
  box-shadow: 1px 1px 10px 5px rgba(65, 64, 64, 0.745);
}

.fur-family-thumbnails li img {
  width: 100%;
  cursor: pointer;
}

.hobbies-description {
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hobbies-image-container {
  grid-column: 1/6;
  grid-row: 1/3;
  height: 500px;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobbies-thumbnails {
  grid-column: 7/13;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hobbies-thumbnails li {
  width: 15%;
  box-shadow: 1px 1px 10px 5px rgba(65, 64, 64, 0.745);
}

.hobbies-thumbnails li img {
  width: 100%;
  cursor: pointer;
}

.name {
  color: var(--gainsboro);
  font-size: 28px;
  font-weight: 700;
}

.navbar {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: flex-start;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--gainsboro);
  font-size: 1.3rem;
  padding: 3.2rem rem;
  display: block;
  text-align: center;
  transition: all 0.3s ease;
}

.navbar-links li a:hover {
  transition: all 0.3s ease;
  font-size: 1.5rem;
  color: var(--goldenrod);
}

.position {
  color: var(--gainsboro);
  font-size: 16px;
  font-weight: 700;
}

.section-title {
  font-size: 32px;
  color: var(--goldenrod);
}

.section-images {
  height: 100%;
  border-radius: 10px;
}
.section-paragraph {
  font-size: 18px;
  color: var(--gainsboro);
  line-height: 2em;
}

.toggle-button {
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: var(--titles);
  border-radius: 10px;
}

/* !Breakpoints for Tablets and Small Laptops */
@media only screen and (max-width: 960px) {
  .fur-family-description {
    grid-column: 1/13;
  }
  .fur-family-image-container {
    grid-column: 2/12;
  }

  .fur-family-thumbnails {
    grid-column: 3/11;
  }

  .hobbies-image {
    grid-column: 2/12;
  }

  .hobbies-thumbnails {
    grid-column: 3/11;
  }

  .navbar-links li a {
    font-size: 1em;
  }
}

/* !Breakpoints for Mobile Phone Devices */
@media (max-width: 700px) {
  #fur-family {
    max-height: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .fur-family-description {
    grid-column: 1/13;
  }

  .fur-family-image-container {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.7rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .section-images {
    height: auto;
    width: 90%;
  }
  .section-paragraph {
    font-size: 14px;
  }

  .toggle-button {
    display: flex;
  }
}
